.header {
  height: 150px;
  background-color: var(--blue);
  display: flex;
  font-size: 55px;
  padding: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  font-family: Georgia, Times, "Times New Roman", serif;
}
.img {
  width: 280px;
  background-repeat: no-repeat;
  height: 80%;
  margin-left: 15px;
  background-position: center;
  background-image: url(/src/assets/logo.png);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.spans {
  width: 60%;

  height: 100%;
  color: rgb(238, 244, 197);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.spans span:hover {
  color: var(--green);
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .header {
    font-size: 40px;
  }
}
@media screen and (max-width: 716px) {
  .header {
    flex-direction: column;
    height: 200px;
    font-size: 35px;
  }
  .spans {
    width: 100%;
  }
}
@media screen and (max-width: 416px) {
  .header {
    flex-direction: column;
    height: 250px;
  }
  .spans {
    flex-direction: column;
  }
}
